<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809459489622-dv5mecbitv3ql8i84hf9ta9rr8mfb2ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809459489622-dv5mecbitv3ql8i84hf9ta9rr8mfb2ug</string>
	<key>API_KEY</key>
	<string>AIzaSyAkTHcPG3h0OTCSDcDdiFyWYuTa3UJrGs0</string>
	<key>GCM_SENDER_ID</key>
	<string>809459489622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adarshr.app6-rao-adarsh</string>
	<key>PROJECT_ID</key>
	<string>cis195-app6</string>
	<key>STORAGE_BUCKET</key>
	<string>cis195-app6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809459489622:ios:97066aba23d8a02919d4f7</string>
	<key>DATABASE_URL</key>
	<string>https://cis195-app6.firebaseio.com</string>
</dict>
</plist>